<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID"
	version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>sample-web-app</display-name>
	
	<servlet>
		<servlet-name>dummyName</servlet-name>
		<servlet-class>HelloWorldServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dummyName</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>success</servlet-name>
		<servlet-class>SuccessServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>success</servlet-name>
		<url-pattern>/success</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>error</servlet-name>
		<servlet-class>ErrorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>